div{
    font-family: "Times New Roman", Times, serif;
    display: block;
    text-align: center;
}

#title {
    height: 100px;
    width: 300px;
    font-size: 30px;
    text-align: left;
}

#story {
    height: 400px;
    width: 600px;
    font-size: 20px;
    text-align: left;
}
