<!DOCTYPE html>
		<html>
			<head>
				<title>place your title</title>
				<meta charset="utf-8">
				<meta name="description" content="place your description here" />
				<meta name="author" content="Your name">
				<meta name="keywords" content="Your keywords" />
				<!-- Optimized mobile viewport -->
				<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
				<meta name="apple-mobile-web-app-capable" content="yes" />
				<link rel="shortcut icon" href="images/favicon.ico">
				<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
				<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
				<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
				<!-- CSS -->
				<link rel="stylesheet" type="text/css" media="all" href="css/responsiveboilerplate.css" />
				<!-- HTML5 IE Enabling Script -->
				<!--[if lt IE 9]><script src="libs/html5shiv.min.js"></script>
				<![endif]-->
				</head>
					<body>
						<!--Centralize the grid-->
						<div class="container">
							<!--There`s, place your columns right here!-->
							<!--Don't forget to use the class "content" outside the columns -->
						</div>    
						<!-- JavaScript at the bottom for fast page loading -->
						<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
						<script>window.jQuery || document.write('<script src="libs/jquery-1.10.1.min.js"><\/script>')</script>
						</body>
						</html>
						