<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/write.css"/>
</head>

<body>

    <img border="0" src="https://columbia.learningu.org/media/images/jh8x13.png">

    <form method="post">
        <div id="title"> 
            Share your story! <br> 
            <input type="text" placeholder="Enter title" style="width:300px; height: 40px;"name="title">
        </div>
        <div id="story">
            <textarea rows="25" cols="100" name="body_text"> </textarea>
        </div>
        <input type="submit" value="Submit">
    </form>

</body>
</html>
